server/WebContent/wsdl/User.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebay" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ebay" xmlns:intf="http://ebay" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ebay" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="register">
    <complexType>
     <sequence>
      <element name="firstname" type="xsd:string"/>
      <element name="lastname" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerResponse">
    <complexType>
     <sequence>
      <element name="registerReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="isUser">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="isUserResponse">
    <complexType>
     <sequence>
      <element name="isUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="isUserRequest">

      <wsdl:part element="impl:isUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerRequest">

      <wsdl:part element="impl:register" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerResponse">

      <wsdl:part element="impl:registerResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isUserResponse">

      <wsdl:part element="impl:isUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="User">

      <wsdl:operation name="register">

         <wsdl:input message="impl:registerRequest" name="registerRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerResponse" name="registerResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isUser">

         <wsdl:input message="impl:isUserRequest" name="isUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:isUserResponse" name="isUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserSoapBinding" type="impl:User">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="register">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="isUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserService">

      <wsdl:port binding="impl:UserSoapBinding" name="User">

         <wsdlsoap:address location="http://localhost:8080/Ebay-SOAP/services/User"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
